body {
    background: #654ea3;
    background: linear-gradient(to right, #38C27A, #2ebbdf);
    overflow-x: hidden
}

.form {
	align-items: center;
    background: rgb(219, 219, 219);
	height: 100%;
	width: 40%;	
	box-shadow: 0px 0px 24px #5C5696;
	padding-top: 2%;
    padding-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.item {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.item-button {
	width: 30%;
	margin-left: 35%;
}

.link {
	text-decoration: none;
	color: #0B5ED7;
}

.add-edit-post {
	margin-bottom: 3%;
}

.profile {
	align-items: center;
    background: rgb(248, 241, 241);
	height: 100%;
	width: 70%;	
	box-shadow: 0px 0px 24px #5C5696;
	padding-top: 2%;
    padding-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.questions {
    background: rgb(248, 241, 241);
	height: 30%;
	width: 80%;
	box-shadow: 0px 0px 24px #5C5696;
	padding-top: 2%;
    padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding-top: 20%;
}

.post {
	align-items: center;
    background: rgb(248, 241, 241);
	height: 100%;
	width: 70%;	
	box-shadow: 0px 0px 24px #5C5696;
	padding-top: 2%;
    padding-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.post-item {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.post-message-button {
	width: 30%;
	margin-left: 35%;
}

.question {
	text-align: center;
	margin: 0 auto;
}

.message {
	transform: translate(100%, 50%);
	width: 31.25em;
	height: 9.375em;
}

.user {
    background: rgb(248, 241, 241);
	height: 10%;
	width: 70%;	
	box-shadow: 0px 0px 24px #5C5696;
	padding-top: 2%;
    padding-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}